.homescreenbox {
  /* position:absolute; */
  float: left;
  background: #0a63cf;
  /* height: 200px; */
  width: 350px;
  /* margin-top: -250px; */
  box-shadow: rgba(38, 39, 38, 0.363) 0px 7px 29px 0px;
  border-radius: 20px;
}

.homescreenboximage {
  height: 90px;
  width: 90px;
  /* margin-left: 130px; */
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.homescreenboxtext {
  text-align: center;
  color: #e3f2fd;
}

.link-style {
  color: black;
  text-decoration: none;
}

.sticky {
  position: sticky;
}

.process-section-text {
  float: left;
  position: relative;
  margin-left: 10vw;
  padding-top: 50px;
  width: 35vw;
  height: 30vh;
  color: #e3f2fd;
}

.process-section-image-wrapper {
  float: left;
  position: sticky;
  margin-left: 10vw;
  width: 35vw;
  height: 30vh;
}

.process-section-image {
  /* float: left;
  margin-left: 100px;
  width: 40vw;
  height: 50vh; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  width: 35vw;
  height: 30vh;
}

hr {
  visibility: hidden;
  margin: 0 auto;
  margin-top: 40px;
  width: 250px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/* map */
#map {
  width: 100%;
  height: 100vh;
}

.marker {
  padding: 0.5rem;
  /* background: black; */
  transition: all 0.3s ease-out;
  position: relative;
  width: 100px;
  border-radius: 5px;
}

.marker:after {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 0.75rem;
  opacity: 1;
}
.marker.highlight:after {
  opacity: 0;
  animation: fadeOut 0.5s;
}
.marker.low {
  background: red;
}
.marker.med {
  background: yellow;
}
.marker.high {
  background: green;
}

.marker h2 {
  margin: 0;
}
.marker p {
  margin: 0;
}

.highlight {
  width: 200px;
  color: white;
}
.highlight.raining {
  background: #457b9d;
}
.highlight.cloudy {
  background: #6d6875;
}
.highlight.sunny {
  background: #ffc300;
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.five-day {
  opacity: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  animation: fadeIn 1s;
}

.editing {
  position: absolute;
  padding: 1rem;
  top: 1rem;
  right: 1rem;
  width: 20%;
  min-width: 200px;
  background: black;
}

.editing label {
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.25rem;
}

.editing input,
select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.editing button {
  padding: 0.5rem;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

/* Hacky fix to remove stuttering when scrolling upwards */
.has-scroll-smooth 
{position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }

.Themap {
  height: 95vh;
  width: 100vw;
}

.map-container {
  height: 95%;
  width: 100%;
}